<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   
</head>
  <body>
  <h1>Contact Me</h1>
 <form action="/contact" method="post" >
  <script type="text/javascript">
  function ValidateForm(frm) {
  if (frm.Name.value == "") { alert('Name is required.'); frm.Name.focus(); return false; }
  if (frm.FromEmailAddress.value == "") { alert('Email address is required.'); frm.FromEmailAddress.focus(); return false; }
  if (frm.FromEmailAddress.value.indexOf("@") < 1 || frm.FromEmailAddress.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.FromEmailAddress.focus(); return false; }
  if (frm.Message.value == "") { alert('Please enter Message or questions.'); frm.Message.focus(); return false; }
  return true; }
  </script>
  <table style="width:100%;max-width:550px;border:0;" cellpadding="8" cellspacing="0">
  <tr> <td>
  <label for="Name">Name*:</label>
  </td> <td>
  <input name="Name" type="text" maxlength="60" style="width:100%;max-width:250px;" />
  </td> </tr> <tr> <td>
  <label for="FromEmailAddress">Email address*:</label>
  </td> <td>
  <input name="FromEmailAddress" type="text" maxlength="90" style="width:100%;max-width:250px;" />
  </td> </tr> <tr> <td>
  <label for="Message">Message*:</label>
  </td> <td>
  <textarea name="Message" rows="7" cols="40" style="width:100%;max-width:350px;"></textarea>
  </td> </tr> <tr> <td>
 
  </td> <td>
 
  <input name="skip_Submit" type="submit" value="Submit" />
  
  </td> </tr>
  </table>
  </form>


  </body>
</html>
      